/*=====================================*/
/*				FONT				   */
/*=====================================*/

body {
	font-family: Calibri;
}
a, h1, h2 {
	font-weight: normal;
}

/*=====================================*/
/*				COLORS				   */
/*=====================================*/
nav {
	background: $dark-grey;
}
.bandeau {
	background: $turquoise;
	color: $white;
}
a {
	color: $white;
}
.accroche {
	background: $dark-grey;
}
.acc > h1 {
	color: $white;
}
.roche {
	background: $purple;
}
.title > h1 > a {
	color: $dark-turquoise;
}
.text {
	color: $grey;
}
.content {
	background: $light-grey;
}
footer {
	background: $dark-grey;
}


/*=====================================*/
/*				NAV					   */
/*=====================================*/
.menu, .menu > li {
	display : flex;
}

.menu {
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
}
.menu li > a {
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
li {
	list-style:none;
}

/*=====================================*/
/*				BANDEAU				   */
/*=====================================*/
.bandeau {
	justify-content: center;
	align-items: center;	
}
.band > h2 + a {
	opacity: 0.8;
}
.band {
	padding-left: 2*$p-fz;
	padding-right: 4*$p-fz;
}
.band > h2 {
	display: flex;
	justify-content: space-between;
}


/*=====================================*/
/*				ACCROCHE			   */
/*=====================================*/

.roche {
	display: flex;
	justify-content: center;
	align-items: center;
}
.acc {
	display: flex;
	opacity: 0.8;
	align-items: center;
}

/*=====================================*/
/*				IMAGE 				   */
/*=====================================*/

.img {
	padding-left: 0;
	padding-right: 0;
}
img {
	width: 100%;
	height: 100%;
}

/*=====================================*/
/*				LO*$p-fz				   */
/*=====================================*/

.text {
	text-align: justify;
	padding-bottom: 2*$p-fz;
}

/*=====================================*/
/*				RIGHT				   */
/*=====================================*/

.copyright {
	align-items: center;
	justify-content: center;
	display: flex;
}

/*=====================================*/
/*				RESPONSIVE			   */
/*=====================================*/

@media (min-width: $sm-screen-breack-point) {
	.bandeau {
		min-height: 11*$p-fz;
	}
	.band > h1 {
		font-size: 1.6*$p-fz;
	}
	.band > h2 {
		font-size: .8*$p-fz;
	}
	.acc {
		padding-left: 2*$p-fz;
		padding-right: 2*$p-fz;
		font-size: .5*$p-fz;
	}
	.acc, .roche {
		min-height: 5*$p-fz;
	}
	.title, .text {
		padding-left: 2*$p-fz;
		padding-right: 2*$p-fz;
	}
	.title {
		font-size: 1.5*$p-fz;
	}
	.text {
		font-size: 1.2*$p-fz;
	}
	.menu {
		min-height: 3*$p-fz;
	}
	.copyright {
		min-height: 3*$p-fz;
	}
}

@media (min-width: $md-screen-breack-point) {
	.menu {
		min-height: 3*$p-fz;
	}
	.menu > li {
		padding-left: 1*$p-fz;
		padding-right: 1*$p-fz;
	}
	.bandeau {
		min-height: 17*$p-fz;
	}
	.band > h1 {
		font-size: 2*$p-fz;
	}
	.band > h2 {
		font-size: 1*$p-fz;
	}
	.acc, .roche {
		min-height: 6*$p-fz;
	}
	.acc {
		font-size: 1*$p-fz;
	}
	.title, .text {
		padding-left: 2*$p-fz;
		padding-right: 2*$p-fz;
	}
	.title {
		font-size: 1.5*$p-fz;
	}
	.text {
		font-size: 1.2*$p-fz;
	}
	.menu {
		min-height: 3*$p-fz;
	}
	.copyright {
		min-height: 3*$p-fz;
	}
}

@media (min-width: $lg-screen-breack-point) {
	.menu {
		min-height: 5*$p-fz;
		font-size: 1*$p-fz;
	}
	.bandeau {
		min-height: 20*$p-fz;
	}
	.band > h1 {
		font-size: 2.5*$p-fz;
	}
	.band > h2 {
		font-size: 1.5*$p-fz;
	}
	.acc, .roche {
		min-height: 8*$p-fz;
	}
	.acc {
		font-size: 1*$p-fz;
	}
	.title, .text {
		padding-left: 2*$p-fz;
		padding-right: 2*$p-fz;
	}
	.title {
		font-size: 1.5*$p-fz;
	}
	.text {
		font-size: 1.2*$p-fz;
	}
	.menu {
		min-height: 3*$p-fz;
	}
	.copyright {
		min-height: 3*$p-fz;
	}
}

@media (min-width: $xl-screen-breack-point) {
	.menu {
		min-height: 5*$p-fz;
		font-size: 1.5*$p-fz;
	}
	.bandeau {
		min-height: 30*$p-fz;
	}
	.band > h1 {
		font-size: 4*$p-fz;
	}
	.band > h2 {
		font-size: 2.5*$p-fz;
	}
	.acc, .roche {
		min-height: 10*$p-fz;
	}
	.acc {
		font-size: 2*$p-fz;
	}
	.roche {
		font-size: 2*$p-fz;
	}
	.title, .text {
		padding-left: 2*$p-fz;
		padding-right: 2*$p-fz;
	}
	.title {
		font-size: 3*$p-fz;
	}
	.text {
		font-size: 1.8*$p-fz;
	}
	.menu {
		min-height: 4*$p-fz;
	}
	.copyright {
		min-height: 4*$p-fz;
		font-size: 1.5*$p-fz;
	}
}