@function columns($lColumn, $nbColumns:$nbMaxColumns) {
	$basis: 100% / $nbColumns * $lColumn;
	@return $basis;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: $container-width;
	margin: auto;
	padding-right: $gutter-width;
	padding-left: $gutter-width;	
}

.container-fluid {
	padding-right: $gutter-width;
	padding-left: $gutter-width;
	width : $container-fluid-width;
}

.container-fluid .container {
	padding-right: 0;
	padding-left: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$gutter-width;
	margin-left: -$gutter-width;
}

[class*="col"] {
 	padding-left: $gutter-width;
 	padding-right: $gutter-width;
 }

.col {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.col-auto {
	flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
}

@for $i from 1 through $nbMaxColumns {
	.col-#{$i} {
		flex: 0 0 columns($i);
	}
}

@media (min-width: $sm-screen-breack-point) {
	.col-sm {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	}

	.col-sm-auto {
		flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
	}

	@for $i from 1 through $nbMaxColumns {
		.col-sm-#{$i} {
			flex: 0 0 columns($i);
		}
	}
}

@media (min-width: $md-screen-breack-point) {
	.col-md {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	}

	.col-md-auto {
		flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
	}

	@for $i from 1 through $nbMaxColumns {
		.col-md-#{$i} {
			flex: 0 0 columns($i);
		}
	}
}

@media (min-width: $lg-screen-breack-point) {
	.col-lg {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	}

	.col-lg-auto {
		flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
	}

	@for $i from 1 through $nbMaxColumns {
		.col-lg-#{$i} {
			flex: 0 0 columns($i);
		}
	}
}

@media (min-width: $xl-screen-breack-point) {
	.col-xl {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	}

	.col-xl-auto {
		flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
	}

	@for $i from 1 through $nbMaxColumns {
		.col-xl-#{$i} {
			flex: 0 0 columns($i);
		}
	}
}