/**------------
 * GRID DEFINITION
 ------------*/

 $container-fluid-width:				100%;
 $container-width:						1140px;

 $gutter-width: 						1rem;

 $sm-screen-breack-point:				320px;
 $md-screen-breack-point:				640px;
 $lg-screen-breack-point:				980px;
 $xl-screen-breack-point:				1024px;

 $nbMaxColumns:							12;

 /**------------
 * COLORS
 ------------*/

 $white:								#FFF;
 $turquoise:							#0b9cb3;
 $dark-turquoise:						#088ca5;
 $pink:									#FBA9FC;
 $purple:								#bc3183;
 $dark-grey:							#373c3f;
 $grey:									#515151;
 $light-grey:							#ebebeb;

 /**------------
 * FONT SIZES
 ------------*/

 $base-font-size:						14px;
 $ratio:								4/3;
 $p-fz:									1rem;
 $h6-fz:								0;
 $h5-fz:								0;
 $h4-fz:								0;
 $h3-fz:								$p-fz*$ratio;
 $h2-fz:								$h3-fz*$ratio;
 $h1-fz:								$h2-fz*$ratio;

 /**------------
 * OPTIONAL FILES
 ------------*/

 $use-grid-debug:							false;