* {
	margin: 0;
}
p {
	background: #FF0000;
	margin: 100px;
}

strong,
a {
	background: orange;
	height: 500px;
}
/*propriété margin : raccourcis de margin-top, margin-bottom, margin-left, margin-right*/

/*
margin-top : 50px;
margin-right : 40px;
margin-bottom : 30px;
margin-left : 20px;


margin: 50px 40px 30px 20 px;
margin: 50px 40px; 50px en top & bottom puis 40px right & left
margin: 40px; 40px tout autours
*/