* {
	margin: 0;
}

p {
	background: #FA0606;
	display: inline-block;
	width: 50%;
	font-size: 1rem;
}

.container {
	background: blue;
	font-size: 0px;
}

a {
	background: yellow;
	font-size: 1rem;
	padding: .5rem;
	margin: .5rem 0px;
	display: inline-block;
}