/*Sélecteur simple*/
p {
	/*cibler tous les p du dom*/
	background: red;
}

/*Sélecteur d'id*/
#green{
	/*cible l'élément html qui porte l'attribut id="green"*/
	background: green;
}

/*Sélecteur de class*/
.purple {
	/*cible touts les éléments du dom qui ont un attribut class="purple"*/
	background: purple;
}

/*Sélecteur d'attribut*/
[href] {
	/*Cible tous les éléments du dom qui ont un attribut href*/
	background: orange;
}

[href="./pages/page1.html"] {
	/*Cible tous les éléments du dom qui ont un attribut href="pages/pages1.html"*/
	background: yellow;
}

[href*="http"] {
	/*Cible tous les éléments du dom qui ont un attribut href dont la valeur cotient la chaine http*/
	background: yellow;
}

/*Sélecteur d'adjascence*/
.container p {
	/*Cible tous les p descendant de class="container"*/
	background: pink;
}

.container > p {
	/*Cible tous les p du dom enfant direct de class="container"*/
	background: brown;
}

/*Ecrire un sélecteur css pour cibler tous les p descendant d'un article enfant direct de .container*/
.container > article p {
	background: violet;
}

/*Ecrire un sélecteur css pour cibler tous les p enfant direct d'un article enfant direct de .container*/
.container > article > p {
	background: blue;
}

.container article > div + p {
	/*cible p frère suivant d'un div lui même enfant direct d'un article*/
	background: yellow;
}

p.ilesttard {
	/*Cible tous les p du dom qui ont l'attribut class="ilesttard"*/
	background: black;
}

.ilesttard {
	/*Cible tous les éléments du dom qui ont un attribut class="ilesttard"*/
	background: yellow;
}

/*Pseudo sélecteur*/
.test p:first-child {
	/*Cible premier enfant p descendant d'un element class="test"*/
	background: orange;
}

.test p:nth-child(2) {
	/*Cible deuxième enfant p descendant d'un element class="test"*/
	background: purple;
}

.test p:last-child {
	/*Cible dernier enfant p descendant d'un element class="test"*/
	background: red;
}

a {
	color: orange;
}

a:hover {
	color: blue;
}