p {
	background: red;
}

.green {
	background: green;
}

p {
	background: blue;
}

[class="green"] {
	background: purple;
}

.green {
	background: green;
}

#pink {
	background: pink;
}

.green {
	background: green;
}

p:first-of-type {
	/*Cible premier élément de type p*/
	background: brown;
}