* {
	background: rgba(0,0,0,.2);
	border: 1px solid black;
	padding: 1rem 0;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-direction: row-reverse;
	flex-direction: column;
	flex-direction: column-reverse;
}