* {
	background: rgba(0,0,0,.2);
	border: 1px solid black;
	padding: 1rem 0;
}
.container {
	max-width: 1000px;
	margin: auto;
}

.flex {
	display: flex;
	/*flex-direction: row;*/
	/*flex-wrap: nowrap;  (default value) */
	/*flex-wrap: wrap;*/
	/*flex-wrap: wrap-reverse;*/
	flex-flow: row wrap; /* flex-direction: row; flex-wrap: nowrap; */
	justify-content: flex-end;
}