* {
	background: rgba(0,0,0,.1);
	border: 1px solid black;
	padding: 1rem 0;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1140px;
	margin: auto;
	padding-right: 1rem;
	padding-left: 1rem;	
}

.container-fluid {
	padding-right: 1rem;
	padding-left: 1rem;
}

.container-fluid .container {
	padding-right: 0;
	padding-left: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1rem;
	margin-left: -1rem;
}

 [class*="col"] {
 	padding-left: 1rem;
 	padding-right: 1rem;
 }

.col {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.col-auto {
	flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
}

.col-1 {
	flex: 0 0 8.333333%;
}

.col-2 {
	flex: 0 0 16.666667%;
}

.col-3 {
	flex: 0 0 25%;
}

.col-4 {
	flex: 0 0 33.333333%;
}

.col-5 {
	flex: 0 0 41.666667%;
}

.col-6 {
	flex: 0 0 50%;
}

.col-7 {
	flex: 0 0 58.333333%;
}

.col-8 {
	flex: 0 0 66.666667%;
}

.col-9 {
	flex: 0 0 75%;
}

.col-10 {
	flex: 0 0 83.333333%;
}

.col-11 {
	flex: 0 0 91.666667%;
}

.col-12 {
	flex: 0 0 100%;
}

@media (min-width: 576px) {
	.col-sm {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	}

	.col-sm-auto {
		flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
	}

	.col-sm-1 {
		flex: 0 0 8.333333%;
	}

	.col-sm-2 {
		flex: 0 0 16.666667%;
	}

	.col-sm-3 {
		flex: 0 0 25%;
	}

	.col-sm-4 {
		flex: 0 0 33.333333%;
	}

	.col-sm-5 {
		flex: 0 0 41.666667%;
	}

	.col-sm-6 {
		flex: 0 0 50%;
	}

	.col-sm-7 {
		flex: 0 0 58.333333%;
	}

	.col-sm-8 {
		flex: 0 0 66.666667%;
	}

	.col-sm-9 {
		flex: 0 0 75%;
	}

	.col-sm-10 {
		flex: 0 0 83.333333%;
	}

	.col-sm-11 {
		flex: 0 0 91.666667%;
	}

	.col-sm-12 {
		flex: 0 0 100%;
	}
}

@media (min-width: 768px) {
	.col-md {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	}

	.col-md-auto {
		flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
	}

	.col-md-1 {
		flex: 0 0 8.333333%;
	}

	.col-md-2 {
		flex: 0 0 16.666667%;
	}

	.col-md-3 {
		flex: 0 0 25%;
	}

	.col-md-4 {
		flex: 0 0 33.333333%;
	}

	.col-md-5 {
		flex: 0 0 41.666667%;
	}

	.col-md-6 {
		flex: 0 0 50%;
	}

	.col-md-7 {
		flex: 0 0 58.333333%;
	}

	.col-md-8 {
		flex: 0 0 66.666667%;
	}

	.col-md-9 {
		flex: 0 0 75%;
	}

	.col-md-10 {
		flex: 0 0 83.333333%;
	}

	.col-md-11 {
		flex: 0 0 91.666667%;
	}

	.col-md-12 {
		flex: 0 0 100%;
	}
}

@media (min-width: 992px) {
	.col-lg {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	}

	.col-lg-auto {
		flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
	}

	.col-lg-1 {
		flex: 0 0 8.333333%;
	}

	.col-lg-2 {
		flex: 0 0 16.666667%;
	}

	.col-lg-3 {
		flex: 0 0 25%;
	}

	.col-lg-4 {
		flex: 0 0 33.333333%;
	}

	.col-lg-5 {
		flex: 0 0 41.666667%;
	}

	.col-lg-6 {
		flex: 0 0 50%;
	}

	.col-lg-7 {
		flex: 0 0 58.333333%;
	}

	.col-lg-8 {
		flex: 0 0 66.666667%;
	}

	.col-lg-9 {
		flex: 0 0 75%;
	}

	.col-lg-10 {
		flex: 0 0 83.333333%;
	}

	.col-lg-11 {
		flex: 0 0 91.666667%;
	}

	.col-lg-12 {
		flex: 0 0 100%;
	}
}

@media (min-width: 1200px) {
	.col-xl {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	}

	.col-xl-auto {
		flex: 0 0 auto; /* raccourcis de flex-grow flex-shrink flex-basis */
	}

	.col-xl-1 {
		flex: 0 0 8.333333%;
	}

	.col-xl-2 {
		flex: 0 0 16.666667%;
	}

	.col-xl-3 {
		flex: 0 0 25%;
	}

	.col-xl-4 {
		flex: 0 0 33.333333%;
	}

	.col-xl-5 {
		flex: 0 0 41.666667%;
	}

	.col-xl-6 {
		flex: 0 0 50%;
	}

	.col-xl-7 {
		flex: 0 0 58.333333%;
	}

	.col-xl-8 {
		flex: 0 0 66.666667%;
	}

	.col-xl-9 {
		flex: 0 0 75%;
	}

	.col-xl-10 {
		flex: 0 0 83.333333%;
	}

	.col-xl-11 {
		flex: 0 0 91.666667%;
	}

	.col-xl-12 {
		flex: 0 0 100%;
	}
}